.body {
  background-color: var(--ui-background);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 8px 24px;
  scrollbar-width: thin;
  min-height: 100vh;
}

@media screen and (max-width: 468px) {
  .body {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 380px) {
  .body {
    padding: 6px 6px;
  }
}

::-webkit-scrollbar {
  cursor:grab !important;
  width: 20px;
  background-color: transparent;
}
 
 ::-webkit-scrollbar {
  cursor:grab !important;
}

::-webkit-scrollbar-thumb {
  cursor:grab !important;
  background-color: var(--ui-scroll);
  border-radius: 10px;
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}