.select__span {
    margin: 0;
    font-style: normal;
    font-size: 18px;
    line-height: 1.1;
    color: var(--ui-text);
    opacity: var(--ui-opacity);
    width: max-content;
}

@media screen and (max-width: 768px) {
    .select__span {
        font-size: 18px;
    }
}

@media screen and (max-width: 468px) {
    .select__span {
        font-size: 16px;
    }
}