.popup__container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 8px;
    align-items: center;
}

.popup__container:nth-of-type(1) {
    display: flex;
    position: relative;
}