.select__options {
    max-height: 0px;
    display: none;
    position: absolute;
    top: 125%;
    left: 0;
    padding: 6px;
    margin: 0;
    border-radius: 0 0 var(--ui-bradius) var(--ui-bradius);
    z-index: 5000;
    width: calc(100% - 12px);
    background: #f5f5f5;
    list-style-type: none;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

.select__options::-webkit-scrollbar {
    display: none;
}