.select__option {
    position: relative;
    box-sizing: border-box;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--ui-all-transition);
}

.select__option:hover {
    background-color: var(--ui-accent-min);
}

.select__option:hover label {
    color: white;
}