.footer__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: var(--ui-text);
}

@media screen and (max-width: 568px) {
    .footer__paragraph {
        font-size: 14px;
    }
}

@media screen and (max-width: 468px) {
    .footer__paragraph {
        font-size: 12px;
    }
}