.select__options_active {
    max-height: 220px;
    display: grid;
    row-gap: 8px;
    overflow-y: scroll;
    animation: fadeOut .25s linear 1;
}

@media screen and (min-height: 760px) {
    .select__options_active {
        max-height: 320px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        max-height: 0;
    } 50% {
        opacity: 1;
    } 100% {
        max-height: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .select__options_active {
        row-gap: 8px;
    }
}