.page {
    background-color: var(--ui-background);
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    font-family: 'Roboto Flex', 'Arial', sans-serif;
    overflow-x: hidden;
}