.header__list-element_active {
    color: var(--ui-link-visited);
    padding: 7px 11px;
    background: var(--ui-accent-max);
    border-radius: 16px;
}

@media screen and (max-width: 768px) {
    .header__list-element_active {
        padding: 5px 9px;
        border-radius: 16px;
    }
}

@media screen and (max-width: 468px) {
    .header__list-element_active {
        padding: 4px 8px;
        border-radius: 16px;
    }
}