.section__link {
    display: inline-block;
    position: relative;
    font-weight: 525;
    text-decoration: none;
    border-radius: 5px;
    color: var(--ui-accent-max);
    opacity: .95;
}

.section__link::after {
    content: '';
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: scaleX(0);
    height: 2.25px;
    bottom: 0;
    left: 0;
    background-color: var(--ui-accent);
    transition: opacity .325s ease-out, transform .275s ease-out;
}

.section__link:hover::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: сenter;
}