.header__image {
    width: 12px;
    height: 100%;
    background-color: transparent;
    transition: opacity .2s ease-out;
    filter: var(--ui-filter);
}

#js-image {
    width: 20px;
}

.header__image:hover {
    opacity: .7;
}
